<!-- views/index.ejs -->
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h3> Welcome
                <span id="name"><%= name %></span>
            </h3>
            <p id="currentUser"><%= email %></p>
            <p>Your Invitation Code is:
                <span id="link"><%= link %></span>
            </p>
            <hr>
            <input type="email" id="invite_mail">

            <label for="message"></label>
            <input id="message"></input>
            <button onclick="invite()"> Invite</button>
            <br />
            <button onclick="myInvitations()" style="margin-top:20px;"> My Invites</button>
            <br />
            <ul id="myInvites" style="list-style:none;">

            </ul>
        </div>

    </div> 
    <script>
        //function to send invite
        function invite() {
            let sender = document.getElementById('currentUser').innerHTML;
            let link = document.getElementById('link').innerHTML;
            let inviteTo = document.getElementById('invite_mail').value;
            let message = document.getElementById('message').value;
            let name = document.getElementById('name').innerHTML;
            fetch('/invite', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    sender: sender,
                    link: link,
                    to: inviteTo,
                    msg: message,
                    name: name
                })
            }).then(res => console.log(res))
        }
        // function to get all the invitations
        function myInvitations() {
            if(document.getElementById('myInvites').children.length===0){
                let link = document.getElementById('link').innerHTML;
                fetch(`/myInvitations?link=${link}`).then(res => res.json()).then(invites => {
                    invites.forEach(invite => {
                        addToList(invite.receiverid, invite.created_at, invite.updated_at)
                    });
                })
            }
        }

        function addToList(_to, _sent, _seen) {
            let isSeen="not seen";
            if(new Date(_seen) - new Date(_sent)>0){isSeen="Seen"}
            let sent = new Date(_sent).toLocaleDateString();
            let node = document.createElement("LI"); // Create a <li> node
            let textnode = document.createTextNode(`${_to} - ${sent} - ${isSeen}`); // Create a text node
            node.appendChild(textnode); // Append the text to <li>
            document.getElementById("myInvites").appendChild(node);
        }
    </script>
</body>

</html>