<!-- views/index.ejs -->
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h3> Welcome <span id="name"><%= name %></span> </h3>
        <p>Your Invitation Link is: <span id="link"><%= link %></span></p>

        <hr>
        <input type="email" id="invite_mail">
        <button onclick="invite()">
    </div>

</div>
<script>
    
    function invite(){
        let name=document.getElementById('name').innerHTML;
        let link=document.getElementById('link').innerHTML;
        let inviteTo=document.getElementById('invite_mail').value;

       fetch('/invite',{
           method:'POST',
           headers:new Headers(),
           body:JSON.stringify({
               name:name,link:link,to:inviteTo
           })
       }).then(res=>console.log(res))
    }
</script>
</body>
</html>  